.AdminNavbar {
    height: 75px;
    display: flex;
    align-items: center;
    background-color: darkcyan;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 16%;
    width: 84%;
    z-index: 999;

    .AdminNavbarContainer {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-right: 30px;

        .NavbarTitle {
            font-size: 30px;
            font-weight: bold;
            color: #333;
            flex: 1;
            text-align: center;
        }

        .NavbarLog {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            flex-shrink: 0;

            span {
                font-size: 20px;
                font-weight: bold;
                color: #333;
            }

            .ProfileIcon {
                font-size: 45px;
                color: #333;
                cursor: pointer;
            }
        }
    }

    .LogoutPopup {
        position: absolute;
        top: 50px;
        right: 50px;
        width: 10%;
        height: 170px;
        background: #a0afc1;
        padding: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 1px 1px 5px 1px #425060;
        box-shadow: 1px 1px 5px 1px #a0afc1;
        justify-content: center;
        align-items: center;

        .PopupContent {
            display: flex;
            flex-direction: column;
            gap: 5px;
            justify-content: center;
            align-items: center;

            p {
                color: black;
                font-size: 16px;
                font-weight: bold;
            }

            .PopupLogoutButton {
                width: 80%;
                background: darkred;
                color: white;
                padding: 5px;
                border: none;
                cursor: pointer;
            }

            .PopupCancelButton {
                width: 80%;
                background: gray;
                color: white;
                padding: 5px;
                border: none;
                cursor: pointer;
            }
        }
    }
}